* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;
margin:0px;
overflow-x:hidden;

}
.footer {
   overflow-x: hidden;
  background-color:#f2f2f2;
  width: 120%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-left:-0px;
 
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
}


/* footer left*/

.footer .footer-left {
	overflow-x: hidden;
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 30px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #000000;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;

}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #000000;;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
 color: #000000;;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
	  overflow-x: hidden;
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}



/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	overflow-x: hidden;
	height: auto;
	width: auto;
	max-width: 110%;
	overflow: hidden;
	background: transparent;
	margin-right: 800px;
	position:relative ;
	
}
	
.flexsearch--form {
	overflow-x: hidden;
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding:20px; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 80%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 20px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 12 6px 12 5px;
	border-color: #888;
  border-radius: 5px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 2px;
  margin-top: px;
  
 
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 12px;
	-webkit-appearance: none;
	-moz-appearance: none;
}


.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

header
{
overflow-x: hidden;
 
  width: 120%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
 
 
 	
}



input:-moz-placeholder {
  color: #888
}
